<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>[[#{application.name}]]</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>

    <style>
        img {
            display: inline-block;
        }
    </style>

</head>
<body>
<header>
    <nav id="topmenu">
        <span th:if="${username != null}" id="username" th:text="#{user.logged} + ${username}"/>
        <ul th:if="${username != null}">
            <li><a href="/index"><span th:text="#{navigation.home}"/></a></li>
            <li><a href="/search"><span th:text="#{navigation.search}"/></a></li>
            <li><a href="/add"><span th:text="#{navigation.add}"/></a></li>
            <li><a href="/logout"><span th:text="#{navigation.logout}"/></a></li>
        </ul>
        <ul th:if="${username == null}">
            <li><a href="/index"><span th:text="#{navigation.index}"/></a></li>
            <li><a href="/search"><span th:text="#{navigation.search}"/></a></li>
            <li><a href="/register"><span th:text="#{navigation.register}"/></a></li>
            <li><a href="/login"><span th:text="#{navigation.login}"/></a></li>
        </ul>
    </nav>
    <h1 id="page-heading"><span th:text="#{page.details}"/></h1>
</header>
<section style="display: flex">
    <!--TODO - export styling to a CSS file-->
    <aside style="float: left; width:25%; margin: 0; padding: 2%; text-align: center">
        <h3>Posters</h3>
        <div th:each="url: ${movie.posters}">
            <img th:src="@{${url}}" style="width: 100%; height: auto"/>
        </div>
    </aside>

    <article style="width:35%; margin: 0; padding: 2%;">
        <h2 th:text="${movie.title}" align="center"></h2>
        <h2 align="center"><a th:href="@{/search(param=year,value=${movie.year})}" th:text="${movie.year}"/></h2>
        <h3 th:text="Rating + ${movie.rating}"></h3>
        <h4 th:text="${movie.votes}"></h4>
        <h4><a th:href="@{/search(param=owner,value=${movie.owner})}" th:text="${movie.owner}"/></h4>
        <h3 th:text="Genres"></h3>
        <div th:each="genre : ${movie.genres}">
            <h4><a th:href="@{/search(param=genre,value=${genre})}" th:text="${genre}"/></h4>
        </div>
        <h3 th:text="Actors"></h3>
        <div th:each="actor : ${movie.actors}">
            <h4><a th:href="@{/search(param=actor,value=${actor})}" th:text="${actor}"/></h4>
        </div>
    </article>
    <aside style="float: right; width:40%; margin: 0; padding: 2%; text-align: center">
        <h3>Trailers</h3>
        <div th:each="url, iterStat : ${movie.trailers}">
            <iframe th:src="${url}" style=" width: 560px; height: 300px;"></iframe>
        </div>
    </aside>
</section>
<section>
    <p id="message" th:text="${message}"/>
</section>
<!--TODO - fix page layout and re-enable footer-->
<!--<footer>
    <p><span th:text="#{footer.text}"/></p>
</footer>-->
</body>
</html>