<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>[[#{application.name}]]</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<header>
    <nav id="topmenu">
        <span id="username" th:text="#{user.logged} + ${username}"/>
        <ul>
            <li><a href="/search"><span th:text="#{navigation.search}"/></a></li>
            <li><a href="/add"><span th:text="#{navigation.add}"/></a></li>
            <li><a href="/logout"><span th:text="#{navigation.logout}"/></a></li>
        </ul>
    </nav>
    <h1 id="page-heading"><span th:text="#{page.home}"/></h1>
</header>
<section>

    <table style="overflow-x:auto;">
        <tr>
            <th>Title</th>
            <th>Year</th>
            <th>Rating</th>
            <th>Votes</th>
            <th>User</th>
            <th>Genres</th>
            <th>Actors</th>
            <th>Posters</th>
            <th>Trailers</th>
        </tr>
        <tr th:each="movie : ${myMovies}">
            <td th:text="${movie.title}"></td>
            <td th:text="${movie.year}"></td>
            <td th:text="${movie.rating}"></td>
            <td th:text="${movie.votes}"></td>
            <td th:text="${movie.owner}"></td>
            <td th:text="${movie.genres}"></td>
            <td th:text="${movie.actors}"></td>
            <td th:text="${movie.posters}"></td>
            <td th:text="${movie.trailers}"></td>
        </tr>
    </table>
</section>
<section>
    <p id="message" th:text="${message}"/>
</section>
<footer>
    <p>&copy; Copyright 2018 M.</p>
</footer>
</body>
</html>
