<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>[[#{application.name}]]</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<header>
    <nav id="topmenu">
        <ul>
            <li><a href="/search"><span th:text="#{navigation.search}"/></a></li>
            <li><a href="/register"><span th:text="#{navigation.register}"/></a></li>
            <li><a href="/login"><span th:text="#{navigation.login}"/></a></li>
        </ul>
    </nav>
    <h1 id="page-heading">Welcome to <span th:text="#{application.name}"/></h1>
</header>
<section>
    <p id="message" th:text="${message}"/>
</section>
<footer>
    <p>&copy; Copyright 2018 M.</p>
</footer>
</body>
</html>