<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>[[#{application.name}]]</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<header>
    <nav id="topmenu">
        <span th:if="${username != null}" id="username" th:text="#{user.logged} + ${username}"/>
        <ul th:if="${username != null}">
            <li><a href="/index"><span th:text="#{navigation.home}"/></a></li>
            <li><a href="/search"><span th:text="#{navigation.search}"/></a></li>
            <li><a th:href="@{/search(param=top,value=10)}" th:text="#{navigation.toprated}"/></li>
            <li><a th:href="@{/search(param=owner,value=${username})}" th:text="#{navigation.mymovies}"/></li>
            <li><a href="/add"><span th:text="#{navigation.add}"/></a></li>
            <li><a href="/logout"><span th:text="#{navigation.logout}"/></a></li>
        </ul>
        <ul th:if="${username == null}">
            <li><a href="/index"><span th:text="#{navigation.index}"/></a></li>
            <li><a href="/search"><span th:text="#{navigation.search}"/></a></li>
            <li><a th:href="@{/search(param=top,value=10)}" th:text="#{navigation.toprated}"/></li>
            <li><a href="/register"><span th:text="#{navigation.register}"/></a></li>
        </ul>
    </nav>
    <h1 id="page-heading"><span th:text="#{page.login}"/></h1>
</header>
<main>
    <form method="post">
        <label for="email"><span th:text="#{user.email}"/></label>
        <input type="text"
               id="email"
               name="email"
               minlength="5"
               maxlength="30"
               pattern="^(?=\w)(?:\w+\.?)*\w+(?<=\w)@(?:\w+\.)+\w+$"
               autocomplete="on"
               required>
        <br>

        <label for="password"><span th:text="#{user.password}"/></label>
        <input type="password"
               id="password"
               name="password"
               maxlength="30"
               autocomplete="off"
               required>
        <br>

        <button type="submit"><span th:text="#{button.login}"/></button>
        <br>
    </form>
    <p id="message" th:text="${message}"/>
</main>
<footer>
    <p><span th:text="#{footer.text}"/></p>
</footer>
</body>
</html>
