<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>[[#{application.name}]]</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<header>
    <nav id="topmenu">
        <span th:if="${username != null}" id="username" th:text="#{user.logged} + ${username}"/>
        <ul th:if="${username != null}">
            <li><a href="/index"><span th:text="#{navigation.home}"/></a></li>
            <li><a href="/add"><span th:text="#{navigation.add}"/></a></li>
            <li><a href="/logout"><span th:text="#{navigation.logout}"/></a></li>
        </ul>
        <ul th:if="${username == null}">
            <li><a href="/index"><span th:text="#{navigation.index}"/></a></li>
            <li><a href="/register"><span th:text="#{navigation.register}"/></a></li>
            <li><a href="/login"><span th:text="#{navigation.login}"/></a></li>
        </ul>
    </nav>
    <h1 id="page-heading"><span th:text="#{page.search}"/></h1>
</header>
<section>
    <div class="user-form">
        <form method="post">
            <!--TODO drop-down list with valid search parameters-->
            <label for="param" th:text="#{search.parameter}"/>
            <input type="text"
                   id="param"
                   name="param"
                   autocomplete="on"
                   required>
            <br>

            <label for="value" th:text="#{search.value}"/>
            <input type="text"
                   id="value"
                   name="value"
                   autocomplete="on"
                   required>
            <br>

            <button type="submit" th:text="#{button.search}"/>
            <br>
        </form>
    </div>
</section>
<section>
    <p id="message" th:text="${message}"/>
</section>
<footer>
    <p><span th:text="#{footer.text}"/></p>
</footer>
</body>
</html>