<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Car Search</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>

<h1>Cars</h1>
<table border="1">
    <tr>
        <th>Id</th>
        <th>Brand</th>
        <th>Model</th>
        <th>Condition</th>
        <th>Year</th>
        <th>Horse Power</th>
        <th>Price</th>
        <th>Category</th>
        <th>City</th>
        <th>Max Mileage</th>
        <th>Engine Type</th>
        <th>Color</th>
        <th>Gearbox</th>
        <th>Car Extras</th>
    </tr>
    <tr th:each="car : ${cars}">
        <td th:text="${car.id}"></td>
        <td th:text="${car.brand}"></td>
        <td th:text="${car.model}"></td>
        <td th:text="${car.condition}"></td>
        <td th:text="${car.year}"></td>
        <td th:text="${car.horsePower}"></td>
        <td th:text="${car.price}"></td>
        <td th:text="${car.category}"></td>
        <td th:text="${car.city}"></td>
        <td th:text="${car.maxMileage}"></td>
        <td th:text="${car.engineType}"></td>
        <td th:text="${car.color}"></td>
        <td th:text="${car.gearbox}"></td>
        <td th:text="${car.carExtras}"></td>
        <td>
            <form action="#" th:action="@{/delete}" method="post">
                <input type="hidden" name="id" th:value="${car.id}">
                <button type="submit">Delete</button>
            </form>
        </td>
        <td>
            <form action="#" th:object="${car}" th:action="@{/car-edit-view}" method="post">
                <input type="hidden" name="id" th:value="${car.id}">
                <input type="hidden" name="brand" th:value="${car.brand}"/>
                <input type="hidden" name="model" id="model" th:value="${car.model}">
                <input type="hidden" name="condition" th:value="${car.condition}">
                <input type="hidden" name="year" th:value="${car.year}">
                <input type="hidden" name="horsePower" th:value="${car.horsePower}">
                <input type="hidden" name="price" th:value="${car.price}">
                <input type="hidden" name="category" th:value="${car.category}">
                <input type="hidden" name="city" th:value="${car.city}">
                <input type="hidden" name="maxMileage" th:value="${car.maxMileage}">
                <input type="hidden" name="engineType" th:value="${car.engineType}">
                <input type="hidden" name="color" th:value="${car.color}">
                <input type="hidden" name="gearbox" th:value="${car.gearbox}">
                <input type="hidden" name="carExtras" th:value="${car.carExtras}">
                <button type="submit">Edit</button>
            </form>
        </td>
    </tr>
</table>

<p>
    <a href="/user-home"><span th:text="#{user.back}"/></a>
</p>

</body>

</html>