<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<html>
<style>
    label {
        display: inline-block;
        text-align: left;
        width: 4.2em;
    }

    input {
        margin-bottom: 10px;
        display: inline-block;
        text-align: left;
        width: 28em;
        max-width: 28em;
    }
</style>
<head>
    <title><span th:text="#{html.register}"/></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<form method="post">
    <fieldset style="max-width: 30em; min-width: 30em">
        <legend><span th:text="#{user.register.form}"/></legend>


        <label for="email"><span th:text="#{user.email}"/></label>
        <input type="text"
               id="email"
               name="email"
               minlength="5"
               maxlength="30"
               pattern="^(?=\w)(?:\w+\.?)*\w+(?<=\w)@(?:\w+\.)+\w+$"
               autocomplete="off"
               required><br>

        <label for="password"><span th:text="#{user.password}"/></label>
        <input type="password"
               id="password"
               name="password"
               maxlength="30"
               autocomplete="off"
               required><br><br>

        <button type="submit"><span th:text="#{user.register}"/></button>
        <br>

        <p th:text="${message}"/>
    </fieldset>
</form>
<p><a href="/user-login"><span th:text="#{user.back}"/></a></p>
</body>
</html>
